@charset "UTF-8";

body{
	background-color: #D2C9C4;
	font-size: 14px;
	color: #666666;
}

#conteiner{
	width: 900px;
}

/*
 *header
 */


#header{
	height: 100px;
	background-color: #0A5789;
	width: auto;
}

#header h1{
	font-size: 50px;
	color: white;
	text-align: center;
}



#content{
	width: 900px;
	margin-top: 14px;
	padding-left: 20px;

	float: right;
	background-color: #ffffff;
	background-color: #ffffff;
}

#img{
	border-style: none;
}


/*
 * Link
 */

a:link{
	color: #0A5789;
	text-decoration: none;
}

a:visited{
	color: #0A5789;
}

a:hover{
	color: #D2C9C4;
}

/*
 * Menu
 */

#menu{
	width: 200px;
	float: left;
}

#menu ul{
	list-style-type: none;
	margin: 14px;
	padding: 0px;
}

#menu li{
	margin-top: 2px;
	padding: 10px 10px 10px 6px;
	background-color: #0776A7;
	color: #0A5789;
}

/*
 * item
 */

.item{
	width: 400px;
	padding: 50px;
}

/*
 *fooer
 */

#footer{
	text-align: center;
	clear: right;
	padding-top: 20px;
	padding-bottom: 20px;
}
