@charset "UTF-8";

body{
	background-color: #00ffff;
	font-size: 14px;
	color: #666666;
}

#conteiner{
	width: 900px;
}

/*
 *ヘッダー
 */

#large_header{
	height: 550px;
}


#header{
	height: 250px;
	background-image: url(img/header_haikei.png);
}


#content{
	width: 900px;
	margin-top: 14px;
	padding-left: 20px;

	float: right;
	background-color: #ffffff;
	background-color: #ffffff;
}

#img{
	border-style: none;
}


/*
 * リンク
 */

a:link{
	color: #6a8125;
	text-decoration: none;
}

a:visited{
	color: #000000;
}

a:hover{
	color: #f3a42c;
}

/*
 * Menu
 */

#menu{
	width: 500px;
	float: left;
}
#menu ul{
	list-style-type: none;
	margin: 14px;
	padding: 0px;
}

#menu li{
	border-style: solid;
	border-width: 1px;
	border-color: #86a331;
	padding: 10px 10px 10px 6px;
	background-color: #ffffff;
	margin-top:　0px;
	margin-right: 14px;
}
