@charset "UTF-8";

body{
	background-color: #A1BED9;
	font-size: 14px;
	color: #666666;
}

h2{
	font-size: 20px;
	color:  #666666;

	border-bottom:1px solid #666666;

	}

#conteiner{
	width: 900px;
}

/*
 *header
 */


#header{
	height: 100px;
/*	background-color: #025AA8;*/

}

#header h1{
	font-size: 50px;
	color: white;
	margin-left: 140px;
	padding-bottom: 10px

	border-bottom-style: none;
	border-bottom-color: #025AA8;
}

/*
*content
*/

#content{
	width: 900px;
	margin-top: 14px;
	margin-right: 140px;
	padding-left: 20px;

	float: right;
	background-color: #ffffff;
	background-color: #ffffff;
}

.item{
	width: 600px;
}


#img{
	border-style: none;
}


/*
 * Link
 */

a:link{
	color: #F1F1F1;
	text-decoration: none;
}

a:visited{
	color: #F1F1F1;
}

a:hover{
	color: #4886BE;
}

/*
 * Menu
 */

#menu{
	width: 200px;
	float: left;
	margin-left:140px;
}

#menu ul{
	list-style-type: none;
/*	margin: 14px; */
	padding: 0px;
}

#menu li{
	margin-top: 2px;
	padding: 10px 10px 10px 6px;
	background-color: #025AA8;
	color: #F1F1F1;
}

/*
 * item
 */

.item{
	width: 600px;
	padding: 30px;
}

/*
 *fooer
 */

#footer{
	text-align: center;
	clear: right;
	padding-top: 20px;
	padding-bottom: 20px;
}
